# This is a template for environment variables.
# Fill in the actual value via GitHub Actions before deployment.

TESTCASE_BASE_PATH=${TESTCASE_BASE_PATH}
TESTCASE_S3_BUCKET_URL=${TESTCASE_S3_BUCKET_URL}
AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
JUDGE_QUEUE_HOST=${JUDGE_QUEUE_HOST}
JUDGE_QUEUE_DOMAIN_NAME=${JUDGE_QUEUE_DOMAIN_NAME}
JUDGE_QUEUE_USERNAME=${JUDGE_QUEUE_USERNAME}
JUDGE_QUEUE_PASSWORD=${JUDGE_QUEUE_PASSWORD}
JUDGE_QUEUE_REQUEST_QUEUE=${JUDGE_QUEUE_REQUEST_QUEUE}
JUDGE_QUEUE_PROGRESS_QUEUE=${JUDGE_QUEUE_PROGRESS_QUEUE}
JUDGE_QUEUE_RESULT_QUEUE=${JUDGE_QUEUE_RESULT_QUEUE}